<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Nuevo formulario</h1>

<ul class="nav nav-indicators">
    <li class="active"><a>Nuevo Formulario</a></li>
    <li class="disabled"><a>Campos del formulario</a></li>
    <li class="disabled"><a>Vista previa del formulario</a></li>
</ul>

<form action="" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-row">
        <div class="col-md-6">
            <label for="{{ form.nombre.id_for_label }}">Nombre: </label>
            {{ form.nombre }}
            {{ form.nombre.errors }}
        </div>
        <div class="col-md-6">
            <label for="{{ form.descripcion.id_for_label }}">Descripcion: </label>
            {{ form.descripcion }}
            {{ form.descripcion.errors }}
        </div>
    </div>
    <hr>
    <button type="submit" id="id_guardar" class="btn btn-primary">
        Guardar Datos Básicos y Continuar
    </button>    
</form>

{% endblock %}