<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "base.html" %}
{% load static %}
{% block head_js %}
<script>
    $(document).ready(function() {
            $('.class-fecha').datetimepicker({format: 'DD/MM/YYYY'});
    });
    </script>
{% endblock %}
{% block content %}
<h1>Nuevo formulario</h1>

<ul class="nav nav-indicators">
    <li class="disabled"><a>Nuevo Formulario</a></li>
    <li><a href="{% url 'formulario_field' pk_formulario %}">Campos del formulario</a></li>
    <li class="active"><a>Vista previa del formulario</a></li>
</ul>

<form action="" enctype="multipart/form-data" method="post">
    {% include "base_form_fields.html" with form=form %}
</form>
<hr>
    <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#myModal">
  Finalizar
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="myModalLabel">Atención</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <h2>¿Está seguro que desea finalizar la edición del formuario?</h2>
          <p>Luego de la finalizacion del formulario no podrá editarlo.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
        <a href="{% url 'formulario_list' %}" class="btn btn-primary">SI</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}