<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "base.html" %}
{% load static %}


{% block content %}

    <h1>Templates de campañas dialer</h1>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Nombre</th>

                <th>Acciones&nbsp;&nbsp;</th>

            </tr>
        </thead>
        <tbody>
        {% for campana in templates_activos %}
            <tr>
                <td width="25%">
                    <a href="{% url 'campana_dialer_template_detalle' campana.pk %}">
                    {% if campana.nombre_template %}
                        {{ campana.nombre_template }}
                    {% else %}
                        {{ campana.nombre }}
                    {% endif %}
                    </a>
                </td>

                <td width="14%">
                    <div class="dropdown">
                      <button class="btn btn-light dropdown-toggle" type="button" id="dropdownEditMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Opciones
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownEditMenu">
                        <a class="dropdown-item" href="{% url 'crea_campana_dialer_template' campana.pk 0 %}"><span class="icon icon-plus" aria-hidden="true"></span>Crear campaña de template</a>
                        <a class="dropdown-item" href="{% url 'campana_dialer_template_elimina' campana.pk %}"><span class="icon icon-trash" aria-hidden="true"></span>Eliminar</a>
                      </div>
                    </div>
                </td>
            </tr>
       {% empty %}
        <tr>
            <td colspan="5">No existen templates campañas dialer</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
