<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>Template {{object.nombre_template}}</h1>
        <table class="table table-striped">
            <tr>
                <td><strong>Template de campaña dialer </strong></td>
                <td>{{object.nombre_template}}</td>
            </tr>
            <tr>
                <td>Nombre de campana</td>
                <td>{{object.nombre}}</td>
            </tr>
            <tr>
                <td>Calificacion campana</td>
                <td>{{object.calificacion_campana}}</td>
            </tr>
            <tr>
                <td>Tipo de interacion {{object.get_tipo_interaccion_display}}: </td>
                <td>
                    {% if object.tipo_interaccion == 1 %}
                    {{ object.formulario }}
                    {% else %}
                    {{ object.sitio_externo }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td colspan="2"><strong>Cola</strong></td>
            </tr>
            <tr>
                <td>Cantidad Max de llamadas:</td>
                <td>{{object.queue_campana.maxlen}}</td>
            </tr>
            <tr>
                <td>Tiempo de descanso entre llamadas:</td>
                <td>{{object.queue_campana.wrapuptime}}</td>
            </tr>
            <tr>
                <td>Nivel de Servicio:</td>
                <td>{{object.queue_campana.servicelevel}}</td>
            </tr>
            <tr>
                <td>Estrategia de distribucion:</td>
                <td>{{object.queue_campana.get_strategy_display}}</td>
            </tr>
            <tr>
                <td>Importancia de campaña:</td>
                <td>{{object.queue_campana.weight}}</td>
            </tr>
            <tr>
                <td>Tiempo de espera en cola:</td>
                <td>{{object.queue_campana.wait}}</td>
            </tr>
            <tr>
                <td>Grabar llamados:</td>
                <td>
                    {% if object.queue_campana.auto_grabacion %}
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Detectar contestadores:</td>
                <td>
                    {% if object.queue_campana.detectar_contestadores %}
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Dias de actuacion:</td>
                <td>{{object.actuacionvigente.get_dias_vigente_display}}</td>
            </tr>
            <tr>
                <td>Horario de actuacion:</td>
                <td>{{object.actuacionvigente.hora_desde}}hs - {{object.actuacionvigente.hora_hasta}}hs</td>
            </tr>
        </table>
        <br>
    <div>
        <h2>Reglas de incidencia</h2> 
        <br>
        <table class="table table-hover">
            <thead>
            <tr class="fts-table-bg">
                <th>Estado</th>
                <th>Con estado personalizado</th>
                <th>Reintentar más tarde</th>
                <th>Modo de reintento</th>
                <th>Intento max.</th>
            </tr>
            </thead>
            <tbody>
                {% for reglas in object.reglas_incidencia.all %}
                    <tr>
                        <td>{{reglas.get_estado_display}}</td>
                        <td>
                            {% if reglas.estado_personalizado %}
                                {{ reglas.estado_personalizado }}
                            {% endif %}
                        </td>
                        <td>{{ reglas.reintentar_tarde }}s.</td>
                        <td>{{ reglas.get_en_modo_display}}</td>
                        <td>{{ reglas.intento_max }}</td>
                    </tr>
                 {% empty %}
                    <tr>
                        <td colspan="5  ">
                            <p class="text-center text-danger">
                                <em>No se encontraron reglas creadas.</em>
                            </p>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>           
    </div>
    <hr>
    <a href="{% url 'lista_campana_dialer_template' %}" class="btn btn-outline-primary">Volver a listado de template</a>

{% endblock %}