<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% load widget_tweaks %}

<div class="row mt-3">
    <div class="col-md-6">
        <label >{{ form.tiempo_inicial.label_tag }}</label>
        {{ form.tiempo_inicial|add_class:"form-control tiempo" }}
        {{ form.tiempo_inicial.errors }}
    </div>
    <div class="col-md-6">
        <label >{{ form.tiempo_final.label_tag }}</label>
        {{ form.tiempo_final|add_class:"form-control tiempo" }}
        {{ form.tiempo_final.errors }}
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-6">
        <label >{{ form.dia_semana_inicial.label_tag }}</label>
        {{ form.dia_semana_inicial|add_class:"form-control" }}
        {{ form.dia_semana_inicial.errors }}
    </div>
    <div class="col-md-6">
        <label >{{ form.dia_semana_final.label_tag }}</label>
        {{ form.dia_semana_final|add_class:"form-control" }}
        {{ form.dia_semana_final.errors }}
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-6">
        <label >{{ form.dia_mes_inicio.label_tag }}</label>
        {{ form.dia_mes_inicio|add_class:"form-control" }}
        {{ form.dia_mes_inicio.errors }}
    </div>
    <div class="col-md-6">
        <label >{{ form.dia_mes_final.label_tag }}</label>
        {{ form.dia_mes_final|add_class:"form-control" }}
        {{ form.dia_mes_final.errors }}
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-6">
        <label >{{ form.mes_inicio.label_tag }}</label>
        {{ form.mes_inicio|add_class:"form-control" }}
        {{ form.mes_inicio.errors }}
    </div>
    <div class="col-md-6">
        <label >{{ form.mes_final.label_tag }}</label>
        {{ form.mes_final|add_class:"form-control" }}
        {{ form.mes_final.errors }}
    </div>
</div>
