<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<h1>{% trans 'Usuarios' %}</h1>

<table class="table">
    <thead>
        <tr>
            <th>{% trans 'id' %}</th>
            <th>{% trans 'username' %}</th>
            <th>{% trans 'Nombre' %}</th>
            <th>{% trans 'Apellido' %}</th>
            {% if user.get_is_administrador %}
            <th>&nbsp;{% trans 'agente' %}</th>
            <th>{% trans 'supervisor' %}</th>
            <th>{% trans 'acciones' %}</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for usuario in page_obj %}
        <tr>
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.username }}</td>
            <td>{{ usuario.first_name }}</td>
            <td>{{ usuario.last_name }}</td>
            {% if user.get_is_administrador %}
            <td>
                {% if usuario.is_agente %}
                    <span class="icon icon-check" aria-hidden="true"></span>
                    {%  if not usuario.get_agente_profile %}
                        {%  if not usuario.get_supervisor_profile %}
                            <a href="{% url 'agenteprofile_nuevo' usuario.id %}">{% trans 'Crear perfil' %}</a>
                        {% endif %}
                    {% else %}
                        <a href="{% url 'agenteprofile_update' usuario.get_agente_profile.id %}">{% trans 'Modificar perfil' %}</a>
                    {% endif %}
                    {% else %}
                       <span class="icon icon-cancel" aria-hidden="true"></span>

                {% endif %}
            </td>
            <td>
                {% if usuario.is_supervisor %}
                    <span class="icon icon-check" aria-hidden="true"></span>
                {%  if not usuario.get_supervisor_profile %}
                        {%  if not usuario.get_agente_profile %}
                            <a href="{% url 'supervisor_create' usuario.id %}">{% trans 'Crear perfil' %}</a>
                        {% endif %}
                    {% else %}
                        <a href="{% url 'supervisor_update' usuario.get_supervisor_profile.id %}">{% trans 'Modificar perfil' %}</a>
                    {% endif %}
                    {% else %}
                       <span class="icon icon-cancel" aria-hidden="true"></span>

                {% endif %}
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% trans 'Opciones' %}
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownActions">
                        <a class="dropdown-item" href="{% url 'user_update' usuario.id %}">
                            <span class="icon icon-pencil"></span>{% trans 'Editar' %}
                        </a>
                        {% if usuario.id != 1 %}
                        <a class="dropdown-item" href="{% url 'user_delete' usuario.id %}">
                            <span class="icon icon-trash"></span>{% trans 'Eliminar' %}
                        </a>  
                        {% endif %}                          
                    </div>
                </div>    
            </td>
            {% endif %}
        </tr>
   {% empty %}
    <tr>
        <td>{% trans 'No existen usuarios' %}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<nav aria-label="Page navigation">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="{% url 'user_list' page=page_obj.previous_page_number%}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">{% trans 'Anterior' %}</span>
                </a>
            </li>
        {% endif %}

        <li class="page-item current">
            {% trans 'Página' %} {{ page_obj.number }} {% trans 'de' %} {{ paginator.num_pages }}.
        </li>

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="{% url 'user_list' page=page_obj.next_page_number %}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">{% trans 'Siguiente' %}</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}