<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Nuevo audio</h1>

<form action="" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-row">
        <div class="col-md-6">
            <label for="{{ form.descripcion.id_for_label }}">Descripcion: </label>
            {{ form.descripcion }}
            {{ form.descripcion.errors }}
        </div>
        <div class="col-md-6">
            <label for="{{ form.audio_original.id_for_label }}">Audio: </label>
            {{ form.audio_original }}
            <small id="audioHelpBlock" class="form-text text-muted">
              {{ form.audio_original.help_text }}
            </small>            
            {{ form.audio_original.errors }}
        </div>
        {% if object.audio_original %}
        <div class="col-md-6">
            <h4>Archivo de Audio</h4>
            <audio src="{{ object.audio_original.url }}" controls></audio>
        </div>
        {% endif %}
    </div>

    <hr>
    <button type="submit" id="id_guardar" class="btn btn-primary">
        Guardar
    </button>
    <a href="{% url 'lista_archivo_audio' %}" class="btn btn-outline-primary">
        volver
    </a>

</form>


{% endblock %}
