<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "base.html" %}
{% load static %}

{% block content %}
<div>
    <form method="post">{% csrf_token %}
        <h1>Grupo "{{ object.nombre}}" </h1>
        <p>¿Esta seguro que desea eliminar este grupo? </p>
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a class="btn btn-outline-danger" href="{% url 'grupo_list' %}">Cancelar</a>
    </form>
</div>
{% endblock %}