<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div id="crm" class="crm"></div>
<!--    <p>hola {{ user.first_name }} {{ user.last_name }} {{ user.username }}</p>
    <p>{{ user.get_agente_profile.sip_extension }}</p>
    <p>{{ user.get_agente_profile.sip_password }}</p>-->


{% endblock %}
{% block logueo %}
<div class="wrapper-content welcome">
	<h1>Bienvenidos a Omnileads</h1>
	<h3>Debe loguearse para operar con nuestro sistema</h3>
	<br>
	<div>
		<a class="btn btn-primary" role="button" href="{% url 'login' %}">Ingresar</a>
	</div>
	<div>
		<a class="btn btn-outline-primary" role="button" href="/static/ominicontacto/voip.cert" target="_blank">bajar 	certificado digital</span></a>
	</div>
	</div>        
{% endblock %}
