<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% load static %}

{% for message in messages %}
    {% if "error" in message.tags %}

        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close btn" datadismiss="alert" aria-label="Cerrar">&times;</button>
            <h1>¡Error!</h1>
            <p>{{ message|safe  }}</p>
        </div>

    {% elif "warning" in message.tags %}

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" class="close btn" datadismiss="alert" aria-label="Cerrar">&times;</button>
            <h1>¡Atención!</h1>
            <p>{{ message|safe  }}</p>
        </div>

    {% elif "success" in message.tags %}

        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="close btn" datadismiss="alert" aria-label="Cerrar">&times;</button>
            <h1>Finalizado</h1>
            <p>{{ message|safe }}</p>
        </div>

    {% elif "info" in message.tags %}

        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <button type="button" class="close btn" datadismiss="alert" aria-label="Cerrar">&times;</button>
            <h1>Información</h1>
            <p>{{ message|safe  }}</p>
        </div>

    {% elif "debug" in message.tags %} {# the same as "INFO" #}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <button type="button" class="close btn" datadismiss="alert" aria-label="Cerrar">&times;</button>
            <h1>Información</h1>
            <p>{{ message|safe  }}</p>
        </div>

    {% else %} {# the same as "INFO" #}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <button type="button" class="close btn" datadismiss="alert" aria-label="Cerrar">&times;</button>
            <h1>Información</h1>
            <p>{{ message|safe  }}</p>
        </div>

    {% endif %}
{% endfor %}
