<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% trans 'TEXTO TRADUCIBLE' %}

{% block content %}
<h1>Usuarios Api Crm</h1>

<table class="table">
    <thead>
        <tr>
            <th>usuario</th>
        </tr>
    </thead>
    <tbody>
    {% for user in object_list %}
        <tr>
            <td>{{ user.usuario }}</td>
            <td>
              <!--  <a class="btn btn-light btn-sm" href="{% url 'user_api_crm_update' user.id %}">
                    Editar
                </a> -->
              <div class="dropdown">
                  <button class="btn btn-light dropdown-toggle" type="button" id="dropdownActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Opciones
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownActions">
                      <a class="dropdown-item" href="{% url 'user_api_crm_update' user.id %}">
                         <span class="icon icon-pencil"></span>Editar
                      </a>
                      {% if usuario.id != 1 %}
                      <a class="dropdown-item" href="{% url 'user_api_crm_delete' user.id %}">
                          <span class="icon icon-trash"></span>Eliminar
                      </a>
                      {% endif %}
                  </div>
                </div>
            </td>
        </tr>
   {% empty %}
    <tr>
        <td>No existen usuarios api crm</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
