#!/usr/bin/expect

set timeout -1;
spawn {{ install_prefix }}virtualenv/bin/python manage.py changepassword {{admin_user}};
expect {
    "Password:" { exp_send "{{admin_pass}}\r" ; exp_continue }
    "Password (again):" { exp_send "{{admin_pass}}\r" ; exp_continue }
    eof
}
