server {
    listen          80;
    server_name     default_server;
    #rewrite ^/(.*)  https://172.16.20.241:8000/$1 permanent;
    rewrite ^ https://$http_host$request_uri? permanent;
}

server {
    listen          443 ssl;
    server_name     default_server;
    access_log      /var/log/nginx/example.com_access.log combined;
    error_log       /var/log/nginx/example.com_error.log error;

    ssl_certificate         {{ install_prefix }}nginx_certs/cert.pem;
    ssl_certificate_key     {{ install_prefix }}nginx_certs/key.pem;

    location /static/ {
         alias {{ install_prefix }}static/;
         autoindex on;
         allow all;
    }

    location /grabaciones {

    {% if DOCKER == "false" %}
    alias {{ install_prefix }}asterisk/var/spool/asterisk/monitor;
    {% else %}
    alias /var/lib/docker/volumes/bin_grabaciones/_data;
    {% endif %}
    autoindex on;
    allow all;
    }

    location / {
       	if ($request_method ~* "(GET)") {
      		add_header "Access-Control-Allow-Origin"  *;
    	}

        proxy_pass         http://127.0.0.1:8000/;
        #proxy_redirect     off;

        proxy_set_header   Host              $http_host;
        proxy_set_header   X-Real-IP         $remote_addr;
        proxy_set_header   X-Forwarded-For   $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Proto $scheme;
	    proxy_set_header   Referer 	     $http_referer;
   	    uwsgi_send_timeout 600s;
	    uwsgi_read_timeout 600s;
	    uwsgi_connect_timeout 600s;
	    keepalive_timeout 600s;
    	proxy_connect_timeout       600s;
    	proxy_send_timeout          600s;
    	proxy_read_timeout          600s;
    	send_timeout                600s;

     }


}
