<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->

                        {% for sitio in sitios_externos %}
                            <tr>
                                <td>
                                    {{ sitio.nombre }}
                                </td>
                                <td>
                                    {{ sitio.url }}
                                </td>
                                <td>
                                    {% if sitio.oculto %}
                                    <a class="btn btn-light" href="{% url 'desoculta_sitio_externo' sitio.pk %}">
                                        <span class="icon icon-eye" aria-hidden="true" title="visible"></span>Hacer visible
                                    </a>
                                    {% else %}
                                    <a class="btn btn-light" href="{% url 'oculta_sitio_externo' sitio.pk %}" >
                                        <span class="icon icon-eye-slash" aria-hidden="true" title="ocultar"></span>Ocultar
                                    </a>
                                    {% endif %}

                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="3">
                                    <p>No se encontraron sitios externos creados.</p>
                                </td>
                            </tr>
                        {% endfor %}
