<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "campana/wizard_base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block nav %}
    <h1>{% trans 'Campaña Entrante: Datos de Cola' %}</h1>

    <ul class="nav nav-indicators">
        <li class="disabled"><a>{% trans 'Campaña' %}</a></li>
        <li class="active"><a>{% trans 'Datos básicos de la cola' %}</a></li>
        <li class="disabled"><a>{% trans 'Opciones de calificación' %}</a></li>
        <li class="disabled"><a>{% trans 'Parámetros extra web form' %}</a></li>
    </ul>
{% endblock %}

{% block form_render %}
    {{ form.non_field_errors }}
    {{ form.name.errors }}
    {{ form.name }}
    {{ form.campana.errors }}
    {{ form.campana }}
    <div class="form-row">
        <div class="col-md-6">
            <label for="{{ form.timeout.id_for_label }}">Tiempo de Ring: </label>
            {{ form.timeout }}
            <small class="form-text text-muted">
                {{ form.timeout.help_text }}
            </small>         
            {{ form.timeout.errors }}
        </div>
        <div class="col-md-6">
            <label for="{{ form.retry.id_for_label }}">Tiempo de Reintento:</label>
            {{ form.retry }}
            {{ form.retry.errors }}
        </div>
        <div class="col-md-6">
            <label for="{{ form.audio_de_ingreso.id_for_label }}">Audio de ingreso:</label>
            {{ form.audio_de_ingreso }}
            {{ form.audio_de_ingreso.errors }}
        </div>
        <div class="col-md-6">
            <label for="{{ form.maxlen.id_for_label }}">Cantidad Max de llamadas: </label>
            {{ form.maxlen }}
            {{ form.maxlen.errors }}
        </div>
        <div class="col-md-6">
            <label for="{{ form.servicelevel.id_for_label }}">Nivel de Servicio:</label>
            {{ form.servicelevel }}
            {{ form.servicelevel.errors }}
        </div>
        <div class="col-md-6">
            <label for="{{ form.strategy.id_for_label }}">Estrategia de distribucion:</label>
            {{ form.strategy }}
            {{ form.strategy.errors }}
        </div>
        <div class="col-md-6">
            <label for="{{ form.weight.id_for_label }}">Importancia de campaña:</label>
            {{ form.weight }}
            {{ form.weight.errors }}
        </div>
        <div class="col-md-6">
            <label for="{{ form.wait.id_for_label }}">Tiempo de espera en cola:</label>
            {{ form.wait }}
            {{ form.wait.errors }}
        </div>
        <div class="col-md-6">
            <label for="{{ form.auto_grabacion.id_for_label }}">Grabar llamados:</label>
            {{ form.auto_grabacion }}
            {{ form.auto_grabacion.errors }}
        </div>
        <div class="col-md-6">
            <label for="{{ form.audios.id_for_label }}">Anuncio periódico:</label>
            {{ form.audios|add_class:"form-control" }}
            {{ form.audios.errors }}
        </div>
        <div class="col-md-6">
            <label for="{{ form.announce_frequency.id_for_label }}">Frecuencia del anuncio: </label>
            {{ form.announce_frequency }}
            {{ form.announce_frequency.errors }}
        </div>
    </div>
{% endblock %}
