<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "campana/wizard_base.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/opcion-calificacion.css' %}"></link>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'ominicontacto/JS/jquery.formset.js' %}"></script>
    <script type="text/javascript">
     /* adiciona plugin 'jquery.formset.js' para generar forms dinamicamente
        en un formset  */
     $('.linkFormset').formset({
       addText: 'Agregar campo',
       deleteText: 'Remover',
       prefix: '{{ wizard.form.prefix }}',
       addCssClass: 'addFormset btn btn-outline-primary',
       deleteCssClass: 'deleteFormset btn btn-outline-danger',
       added: function (row) {
         /* inicializa el nuevo formulario de opción de calificación */
         $(row.find('.nombre > select')).prop( "disabled", false );
         var $tipo = $(row.find('.tipo > select'));
         $tipo.prop( "disabled", false );
         var tipoOpciones = {"Sin Acción": "0",
                            "Gestión": "1"};
         $tipo.empty();
         $.each(tipoOpciones, function(key,value) {
           $tipo.append($("<option></option>")
             .attr("value", value).text(key));
         });
       },
     });
     /* oculta los links de eliminación para los formularios de opciones de calificación
        que no deben ser eliminados */
     $('.readOnly>td').find('.deleteFormset').attr('class', 'hidden')
    </script>
{% endblock %}

{% block nav %}
    <h1>{% trans 'Campaña Entrante: Opciones de calificación' %}</h1>

    <ul class="nav nav-indicators">
            <li class="disabled"><a>{% trans 'Campaña' %}</a></li>
            <li class="disabled"><a>{% trans 'Datos básicos de la cola' %}</a></li>
            <li class="active"><a>{% trans 'Opciones de calificación' %}</a></li>
            <li class="disabled"><a>{% trans 'Parámetros extra web form' %}</a></li>
    </ul>
{% endblock %}

{% block formset_render %}
    <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
            {% if wizard.form.non_form_errors %}
                {% for error in wizard.form.non_form_errors %}
                    <div class="alert alert-warning">{{ error|escape }}</div>
                {% endfor %}
            {% endif %}
            {% for form in wizard.form.forms %}
                <tr
                    {% if form.instance.usada_en_calificacion %}
                    class="linkFormset readOnly"
                    data-toggle="tooltip" data-placement="top"
                    title="Esta opción de calificación ya está siendo usada en la campaña, no se permitirá su eliminación, tenga en cuenta además que si modifica su nombre esto puede causarle confusión al consultar los reportes"
                    {% elif form.instance.es_agenda %}
                    class="linkFormset readOnly"
                    {% else %}
                    class="linkFormset"
                    {% endif %}>
                    <td>
                    {% if form.instance.pk %}
                        {{ form.DELETE }}
                    {% endif %}
                    </td>
                    <td class="nombre">
                        {{ form.nombre.errors }}
                        {{ form.nombre|add_class:"form-control" }}
                    </td>
                    <td class="tipo">
                        {{ form.tipo.errors }}
                        {{ form.tipo|add_class:"form-control fieldsFormset" }}
                    </td>
                    <td>{{ form.id }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ wizard.form.management_form }}
{% endblock %}
