<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "base.html" %}
{% load static %}

{% block content %}

<h1>Calificaciones</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Acciones</th>

        </tr>
    </thead>
    <tbody>
    {% for calificacion in object_list %}
        <tr>
            <td>{{ calificacion.nombre }}</td>
            <td>
                <div class="dropdown">
                  <button class="btn btn-light dropdown-toggle" type="button" id="dropdownEditMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Opciones
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownEditMenu">
                    <a class="dropdown-item" href="{% url 'calificacion_update' calificacion.id %}"><span class="icon icon-pencil" aria-hidden="true" title="Modificar"></span>Editar</a>
                    <a class="dropdown-item" href="{% url 'calificacion_delete' calificacion.id %}"><span class="icon icon-trash" aria-hidden="true" title="Eliminar Calificacion"></span>Eliminar</a>
                  </div>
                </div>             
            </td>
        </tr>
   {% empty %}
    <tr>
        <td colspan="2">No existen calificaciones</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}