<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "campana_manual/campana_manual_base.html" %}
{% load i18n %}

{% block title_campana %}
    <h1>{% trans 'Campaña Preview: Datos Básicos' %}</h1>
{% endblock %}

{% block nav %}
    <h1>{% trans 'Campaña Preview: Datos básicos' %}</h1>

    <ul class="nav nav-indicators">
        <li class="active"><a>{% trans 'Campaña' %}</a></li>
        <li class="disabled"><a>{% trans 'Opciones de calificación' %}</a></li>
        <li class="disabled"><a>{% trans 'Parámetros extra web form' %}</a></li>
    </ul>
{% endblock %}

{% block tiempo_desconexion %}
    <div class="col-md-6">
        {{ form.tiempo_desconexion.errors }}
        <label>Tiempo de desconexión: </label>
        <!-- <div class="col-sm-3" data-toggle="tooltip" data-placement="top"
             title="A partir de este tiempo en minutos, un agente será desconectado de cualquier contacto que tenga asignado y no haya atendido">
            
        </div> -->
        {{ form.tiempo_desconexion }}
        <small class="form-text text-muted">
            A partir de este tiempo en minutos, un agente será desconectado de cualquier contacto que tenga asignado y no haya atendido.
        </small>        
    </div>
{% endblock %}
