<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="col-md-3">
        <form method="post">{% csrf_token %}
            <h4>Cola <strong>{{ object.nombre }}</strong></h4>
            <h4>{% trans '¿Esta seguro que desea eliminar esta Campaña?' %} </h4>
            <button type="submit" class="btn btn-danger btn-sm">
                <span class="glyphicon glyphicon-remove"></span>{% trans 'Eliminar' %}
            </button>
            <a href="{% url 'campana_preview_template_list' %}">{% trans 'Cancelar' %}</a>
        </form>
    </div>
{% endblock %}
