<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "base.html" %}
{% load static %}

{% block title %} Logueo Usuario {% endblock %}

{% block logueo %}
  {% if user_is_blocked %}
    <div class="alert alert-danger">
      <p> {{ detail }} </p>
    </div>
  {% elif not user.is_authenticated %}
    {% if form.errors and not user_is_blocked%}
        <div class="alert alert-danger">
          <p> Username/password incorrecto ingrese nuevamente los datos </p>
    {% endif %}
        </div>
        <div class="wrapper-content login">
            <form role="form" method="post" action="">
                {% csrf_token %}
                <div>
                    <img src="{% static 'ominicontacto/Img/ic_logo_full.svg' %}" alt="FtsLogo" width="240">
                </div>

                <div class="form-group">
                    <label class="control-label">Usuario</label>
                    <div>
                        {{ form.username }}
                        <span class="help-inline text-danger">
                            {{ form.username.errors }}
                        </span>
                    </div>
                 </div>

                <div class="form-group">
                    <label class="control-label">Clave</label>
                    <div>
                        {{ form.password }}
                        <span class="help-inline text-danger">
                            {{ form.password.errors }}
                        </span>
                    </div>
                 </div>

                <br>

                <button class="btn btn-outline-primary" type="submit" >Ingresar</button>
            </form>
        </div>
  {% endif %}
{% endblock %}
