<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "base.html" %}
{% load static %}


{% block content %}

<h1>Blacklists</h1>

<table class="table">
    <thead>
      <tr class="fts-table-bg">
        <th>Backlist</th>
        <th>Creada</th>
        <th>Cantidad Contactos</th>
      </tr>
    </thead>
    <tbody id="t_body_ocultas">
        {% for backlist in back_lists %}
            <tr>
                <td>
                    {{ backlist.nombre }}
                </td>
                <td>
                    {{ backlist.fecha_alta|date:"d/m/Y" }}
                </td>
                <td>
                    {{ backlist.cantidad_contactos }}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td>
                    <p>No se encontraron Backlist creadas.</p>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}